<?xml version="1.0" encoding="utf-8"?>
<configuration>
     <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="abJournal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
   <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <abJournal.Properties.Settings>
            <setting name="IsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DrawingAlgorithm" serializeAs="String">
                <value>dotNet</value>
            </setting>
            <setting name="PrintDrawingAlgorithm" serializeAs="String">
                <value>dotNet</value>
            </setting>
            <setting name="IsBlockWindowsKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnorePressure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveTextToPDF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveWithPDF" serializeAs="String">
                <value>False</value>
            </setting>
        </abJournal.Properties.Settings>
    </userSettings>
</configuration>
